[data-simplebar] {
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%; /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  visibility: visible;
  max-width: 100%; /* Not required for horizontal scroll to trigger */
  max-height: 100%; /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.simplebar-content:before,
.simplebar-content:after {
  content: ' ';
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  flex-grow: inherit;
  flex-shrink: 0;
  flex-basis: 0;
}

.simplebar-height-auto-observer {
  box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  right: 2px;
  width: 7px;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: '';
  background: black;
  border-radius: 7px;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 11px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */
[data-simplebar-direction='rtl'] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
}
/* normalize.css v1.1.3 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  box-sizing: content-box;
  height: 0;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px;
/* 3 */
}
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle;
/* 3 */
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible;
/* 4 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px;
/* 3 */
  *width: 13px;
/* 3 */
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
[class^="icon-"],
[class*=" icon-"] {
/* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'av' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-avotz:before {
  content: "\E600";
}
.loader {
  margin: 100px auto;
  font-size: 5px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: absolute;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  transform: translateZ(0);
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@-webkit-keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.5), -1.8em -1.8em 0 0em rgba(84,178,0,0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.7), 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.5), 1.8em -1.8em 0 0em rgba(84,178,0,0.7), 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.5), 2.5em 0em 0 0em rgba(84,178,0,0.7), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.5), 1.75em 1.75em 0 0em rgba(84,178,0,0.7), 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.5), 0em 2.5em 0 0em rgba(84,178,0,0.7), -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.5), -1.8em 1.8em 0 0em rgba(84,178,0,0.7), -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.5), -2.6em 0em 0 0em rgba(84,178,0,0.7), -1.8em -1.8em 0 0em #fff;
  }
}
@-webkit-keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.5), -1.8em -1.8em 0 0em rgba(84,178,0,0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.7), 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.5), 1.8em -1.8em 0 0em rgba(84,178,0,0.7), 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.5), 2.5em 0em 0 0em rgba(84,178,0,0.7), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.5), 1.75em 1.75em 0 0em rgba(84,178,0,0.7), 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.5), 0em 2.5em 0 0em rgba(84,178,0,0.7), -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.5), -1.8em 1.8em 0 0em rgba(84,178,0,0.7), -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.5), -2.6em 0em 0 0em rgba(84,178,0,0.7), -1.8em -1.8em 0 0em #fff;
  }
}
@keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #fff, 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.5), -1.8em -1.8em 0 0em rgba(84,178,0,0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.7), 1.8em -1.8em 0 0em #fff, 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.5), 1.8em -1.8em 0 0em rgba(84,178,0,0.7), 2.5em 0em 0 0em #fff, 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.5), 2.5em 0em 0 0em rgba(84,178,0,0.7), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.5), 1.75em 1.75em 0 0em rgba(84,178,0,0.7), 0em 2.5em 0 0em #fff, -1.8em 1.8em 0 0em rgba(84,178,0,0.2), -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.5), 0em 2.5em 0 0em rgba(84,178,0,0.7), -1.8em 1.8em 0 0em #fff, -2.6em 0em 0 0em rgba(84,178,0,0.2), -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.5), -1.8em 1.8em 0 0em rgba(84,178,0,0.7), -2.6em 0em 0 0em #fff, -1.8em -1.8em 0 0em rgba(84,178,0,0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(84,178,0,0.2), 1.8em -1.8em 0 0em rgba(84,178,0,0.2), 2.5em 0em 0 0em rgba(84,178,0,0.2), 1.75em 1.75em 0 0em rgba(84,178,0,0.2), 0em 2.5em 0 0em rgba(84,178,0,0.2), -1.8em 1.8em 0 0em rgba(84,178,0,0.5), -2.6em 0em 0 0em rgba(84,178,0,0.7), -1.8em -1.8em 0 0em #fff;
  }
}
* {
  box-sizing: border-box;
}
*:after,
*:before {
  box-sizing: border-box;
}
html {
  background-color: #fff;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 100%;
  line-height: 30px;
}
ul {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  transition: all 0.5s ease;
  color: #00bad2;
}
p {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
h1,
h2,
h3,
h4,
h5 {
  margin-top: 0;
  font-weight: 400;
}
h1,
h2,
h3 {
  font-weight: 900;
  font-size: 32px;
  color: #261e1e;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
h3 {
  font-size: 18px;
}
@media screen and (min-width: 900px) {
  h1,
  h2 {
    font-size: 42px;
  }
}
img {
  max-width: 100%;
  height: auto;
}
.striped {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  z-index: 2;
  letter-spacing: 0.1em;
  margin: 0 0 30px 0;
  line-height: 38px;
}
.striped:after {
  color: #00ab4f;
  content: attr(data-text);
  left: 0.4%;
  position: absolute;
  width: 99.6%;
  top: 1px;
  z-index: -1;
  text-align: center;
  opacity: 0.7;
}
.striped.clipped:after {
  background: url("./img/hl_bg.png");
  -webkit-background-clip: text;
  color: transparent;
  width: 99.8%;
  left: 0.5%;
  top: 3px;
  opacity: 1;
  -webkit-backface-visibility: hidden;
}
.right {
  right: 0;
}
.left {
  left: 0;
}
.alignright,
.alignleft {
  width: 100%;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 1001px) {
  .alignright {
    float: right;
    width: 350px;
    height: 300px;
    margin-left: 0.5rem;
  }
  .alignleft {
    float: left;
    width: 350px;
    height: 300px;
    margin-right: 0.5rem;
  }
}
.txt-center {
  text-align: center;
}
.hidden {
  display: none;
}
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.overflow {
  overflow: hidden;
}
.transparent {
  background-color: transparent;
}
input[type="number"],
input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"],
input[type="time"],
input[type="search"],
input[type="url"],
select,
textarea {
  height: 36px;
  width: 100%;
  background-color: #fff !important;
  border: 1px solid #aaa;
}
textarea {
  height: 80px;
}
section.error-404 {
  padding-top: 6rem;
  text-align: center;
}
iframe {
  width: 100%;
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border-radius: 0 !important;
  height: 36px !important;
}
.select2-container {
  width: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  margin-top: 1px !important;
  background-color: #bf1c2d !important;
  color: #fff;
}
.wpcf7-form-control-wrap.date.flatpickr-input.flatpickr-mobile,
.wpcf7-form-control-wrap.time.flatpickr-input.flatpickr-mobile {
  display: none;
}
.columns-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.columns-2 .column,
.columns-2 .field {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .columns-2 {
    margin-bottom: 1.25rem;
  }
  .columns-2 >.field {
    width: 45%;
  }
  .columns-2 .column {
    width: 45%;
  }
}
.txt-center {
  text-align: center;
}
.txt-white {
  color: #fff;
}
.txt-shadow p {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
}
.search-submit,
.comment-form .submit,
.wpcf7-submit,
.btn {
  padding: 0.8rem 0.5rem 0.8rem 0.5rem;
  display: inline-block;
  color: #000;
  transition: all 0.5s ease;
  font-weight: 400;
  margin-bottom: 1.25rem;
  text-transform: uppercase;
}
.search-submit.naranja,
.comment-form .submit.naranja,
.wpcf7-submit.naranja,
.btn.naranja {
  background-color: #f6902f;
  border-color: #f6902f;
  color: #fff;
}
.search-submit.naranja:hover,
.comment-form .submit.naranja:hover,
.wpcf7-submit.naranja:hover,
.btn.naranja:hover {
  background-color: #00642f;
  color: #fff;
}
.search-submit.danger,
.comment-form .submit.danger,
.wpcf7-submit.danger,
.btn.danger {
  background-color: #ec354b;
  border-color: #ec354b;
  color: #fff;
}
.search-submit.danger:hover,
.comment-form .submit.danger:hover,
.wpcf7-submit.danger:hover,
.btn.danger:hover {
  background-color: #00642f;
  color: #fff;
}
.search-submit.success,
.comment-form .submit.success,
.wpcf7-submit.success,
.btn.success,
.search-submit.azul,
.comment-form .submit.azul,
.wpcf7-submit.azul,
.btn.azul {
  background-color: #00bad2;
  border-color: #00bad2;
  color: #fff;
}
.search-submit.success:hover,
.comment-form .submit.success:hover,
.wpcf7-submit.success:hover,
.btn.success:hover,
.search-submit.azul:hover,
.comment-form .submit.azul:hover,
.wpcf7-submit.azul:hover,
.btn.azul:hover {
  background-color: #254e7b;
  color: #fff;
}
.search-submit.secondary,
.comment-form .submit.secondary,
.wpcf7-submit.secondary,
.btn.secondary {
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  color: #333;
}
.search-submit.secondary:hover,
.comment-form .submit.secondary:hover,
.wpcf7-submit.secondary:hover,
.btn.secondary:hover {
  background-color: #b9b9b9;
  color: #fff;
}
.search-submit,
.comment-form .submit,
.wpcf7-submit {
  background-color: #007d3b;
  border-color: #00642f;
  color: #fff;
  border: none;
}
.search-submit:hover,
.comment-form .submit:hover,
.wpcf7-submit:hover {
  background-color: #00642f;
  color: #fff;
}
.flex-container-sb {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.flex-container-sa {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.inner2 {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
}
.inner {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}
#CDSWIDSSP {
  width: 100% !important;
}
.pagination {
  padding: 0.5rem 0;
}
.pagination .screen-reader-text {
  display: none;
}
.pagination .nav-links {
  text-align: center;
}
.pagination .nav-links span,
.pagination .nav-links a {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: $naranja;
  color: #fff;
}
.pagination .nav-links span:hover,
.pagination .nav-links a:hover {
  background-color: #000;
}
.pagination .nav-links span.current,
.pagination .nav-links a.current {
  background-color: $verde;
}
.circle-main {
  position: relative;
  width: 88px;
  height: 88px;
  border-radius: 100px;
  overflow: hidden;
  cursor: pointer;
}
.circle-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  margin-left: -11px;
  margin-top: -11px;
  border-radius: 22px;
  background: #fff;
  z-index: 50;
  will-change: transform;
}
.circle-outer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  margin-top: -22px;
  margin-left: -22px;
  z-index: 49;
  background: none;
  border: 3px solid #fff;
  border-radius: 44px;
  transform: scale(0.78);
  -webkit-transform: scale(0.78);
  -moz-transform: scale(0.78);
  -o-transform: scale(0.78);
}
.circle-pulse {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 44px;
  height: 44px;
  margin-top: -22px;
  margin-left: -22px;
  z-index: 48;
  background: none;
  border: 2px solid #fff;
  border-radius: 44px;
  opacity: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -moz-transform: scale(0.95);
  -o-transform: scale(0.95);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  animation-name: pulse;
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -o-animation-name: pulse;
  animation-duration: 1.1s;
  -webkit-animation-duration: 1.1s;
  -moz-animation-duration: 1.1s;
  -o-animation-duration: 1.1s;
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -moz-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  will-change: opacity, transform;
}
.circle-middle,
.circle-outer {
  transition: transform 340ms cubic-bezier(0.405, -0.195, 0.165, 1.65), opacity 340ms ease-out;
  -webkit-transition: transform 340ms cubic-bezier(0.405, -0.195, 0.165, 1.65), opacity 340ms ease-out;
  -moz-transition: transform 340ms cubic-bezier(0.405, -0.195, 0.165, 1.65), opacity 340ms ease-out;
  -o-transition: transform 340ms cubic-bezier(0.405, -0.195, 0.165, 1.65), opacity 340ms ease-out;
}
.circle-main:hover .circle-outer {
  transform: scale(0.83);
  -webkit-transform: scale(0.83);
  -moz-transform: scale(0.83);
  -o-transform: scale(0.83);
  opacity: 1;
}
.circle-main:active .circle-outer {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}
.img-replace {
/* replace text with an image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
}
.cd-popup {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(94,110,141,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
  z-index: 10;
}
.cd-popup.is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
.cd-popup-container {
  position: relative;
  width: 90%;
  max-width: 768px;
  margin: 4em auto;
  background: #fff;
  border-radius: 0.25em 0.25em 0.4em 0.4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  transform: translateY(-40px);
/* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  transition-property: transform;
  transition-duration: 0.3s;
}
.cd-popup-container .info {
  padding: 3em 1em;
}
.cd-popup-container .cd-buttons:after {
  content: "";
  display: table;
  clear: both;
}
.cd-popup-container .cd-buttons li {
  float: left;
  width: 50%;
  list-style: none;
}
.cd-popup-container .cd-buttons a {
  display: block;
  height: 60px;
  line-height: 60px;
  text-transform: uppercase;
  color: #fff;
  transition: background-color 0.2s;
}
.cd-popup-container .cd-buttons li:first-child a {
  background: #fc7169;
  border-radius: 0 0 0 0.25em;
}
.no-touch .cd-popup-container .cd-buttons li:first-child a:hover {
  background-color: #fc8982;
}
.cd-popup-container .cd-buttons li:last-child a {
  background: #b6bece;
  border-radius: 0 0 0.25em 0;
}
.no-touch .cd-popup-container .cd-buttons li:last-child a:hover {
  background-color: #c5ccd8;
}
.cd-popup-container .cd-popup-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
}
.cd-popup-container .cd-popup-close::before,
.cd-popup-container .cd-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #8f9cb5;
}
.cd-popup-container .cd-popup-close::before {
  transform: rotate(45deg);
  left: 8px;
}
.cd-popup-container .cd-popup-close::after {
  transform: rotate(-45deg);
  right: 8px;
}
.is-visible .cd-popup-container {
  transform: translateY(0);
}
@media only screen and (min-width: 1170px) {
  .cd-popup-container {
    margin: 8em auto;
  }
}
html,
body {
  position: relative;
  color: #444;
}
body.nav-is-open .nav-container {
  left: 0;
  right: 0;
  width: 100%;
  visibility: visible;
}
body.nav-is-open .nav-menu li {
  transform: translateX(0);
  opacity: 1;
}
body.nav-is-open .nav-btn-menu {
  color: #fff !important;
}
body.nav-is-open .nav-btn-menu .fa-bars:before {
  content: '\F00D';
}
body.home {
  background-color: #00bad2;
}
.page-bg {
  background-color: #fff;
  background-position: center center;
  background-size: cover;
  bottom: 0;
  left: 0;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.page-bg-gradient {
  background: linear-gradient(0deg, #000, rgba(70,31,65,0));
  bottom: 0;
  height: 50vh;
  left: 0;
  z-index: 150;
  position: absolute;
  width: 100%;
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .page-bg {
    background-image: none;
  }
}
.nav-container {
  position: fixed;
  background-color: rgba(0,0,0,0.75);
  left: -350px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 350px;
  z-index: 901;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.85s cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu {
  position: relative;
  background-color: transparent;
  width: 100%;
  left: 0;
  color: #fff;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.nav-menu li,
.nav-menu-item {
  display: block;
  line-height: 3rem;
  transform: translateX(-100%);
  transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.nav-menu li:nth-child(1),
.nav-menu-item:nth-child(1) {
  transition-delay: 0.19s;
}
.nav-menu li:nth-child(2),
.nav-menu-item:nth-child(2) {
  transition-delay: 0.23s;
}
.nav-menu li:nth-child(3),
.nav-menu-item:nth-child(3) {
  transition-delay: 0.27s;
}
.nav-menu li:nth-child(4),
.nav-menu-item:nth-child(4) {
  transition-delay: 0.31s;
}
.nav-menu li:nth-child(5),
.nav-menu-item:nth-child(5) {
  transition-delay: 0.35s;
}
.nav-menu li:nth-child(6),
.nav-menu-item:nth-child(6) {
  transition-delay: 0.39s;
}
.nav-menu a,
.nav-menu-link {
  display: block;
  color: #fff;
  font-weight: 700;
  font-size: 1.6rem;
}
.nav-menu a:hover,
.nav-menu-link:hover {
  color: #254e7b;
  margin-left: 1rem;
}
.nav-btn-menu {
  position: absolute;
  background-color: transparent;
  top: 15px;
  left: 15px;
  z-index: 902;
  border: none;
  color: #fff;
  font-size: 2rem;
  outline: none;
  transition: all 0.3s ease;
}
.nav-btn-menu .fa-bars:before {
  transition: all 0.3s ease;
}
/*.nav
		&-btn-menu
			top 15px
			left 35px
		&-menu
			padding-top: 6.5rem;
			padding-bottom: 2.5rem;
			padding-left: 7.5rem;
			li 
				line-height 5rem
			a
				font-size 3.75rem*/
body.header-white .header {
  background-color: #fff;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
}
body.header-white .header-logo {
  color: #254e7b;
}
body.header-white .nav-btn-menu {
  color: #254e7b;
}
body.header-white .lang {
  color: #fff;
}
body.header-white .lang a {
  color: #fff;
}
.header {
  position: absolute;
  overflow: hidden;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  top: 0;
  z-index: 900;
  height: 75px;
  transition: all 0.5s ease;
}
.header-logo {
  z-index: 300;
  position: relative;
  color: #fff;
  font-weight: 500;
  text-align: center;
  transition: all 0.3s ease;
  padding: 5px;
  max-width: 343px;
  display: block;
}
.header-contact {
  text-align: right;
  padding-right: 1rem;
  padding-top: 1rem;
  z-index: 300;
  position: relative;
}
.header-contact span.text {
  display: none;
}
.header-contact span.icon {
  display: block;
  font-size: 1.8rem;
}
.header-contact a {
  display: block;
  color: #000;
}
.header-contact .btn {
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  background: transparent;
}
.header-contact .btn:hover {
  background: transparent;
}
.header .lang {
  color: #254e7b;
  margin-left: 7rem;
  margin-top: 1rem;
  font-size: 1rem;
}
.header .lang a {
  display: inline-block;
  color: #254e7b;
}
.header-btn-menu {
  width: 20%;
  height: 112px;
}
@media screen and (min-width: 768px) {
  .header-logo {
    padding: 5px;
    max-width: 343px;
  }
  .header-contact {
    display: block;
    padding-right: 60px;
  }
  .header-contact span.text {
    display: block;
  }
  .header-contact span.icon {
    display: none;
  }
  .header-contact .btn {
    background: #00bad2;
  }
  .header-contact .btn:hover {
    background: #254e7b;
  }
  .header--fixed .header {
    background-color: #fff;
    position: fixed;
    top: 0;
  }
  .header--fixed .header .lang {
    color: #254e7b;
  }
  .header--fixed .header .lang a {
    color: #254e7b;
  }
  .header--fixed .header-logo {
    color: #254e7b;
  }
  .header--fixed .nav-btn-menu {
    position: fixed;
    color: #254e7b;
  }
  .nav-btn-menu {
    top: 15px;
    left: 60px;
    color: #254e7b;
  }
  .nav-menu {
    padding-top: 6.5rem;
    padding-bottom: 2.5rem;
    padding-left: 7.5rem;
  }
  .nav-menu li {
    line-height: 5rem;
  }
  .nav-menu a {
    font-size: 3.75rem;
  }
}
@media screen and (min-width: 1000px) {
  .nav-aside {
    left: auto;
    right: 0;
    bottom: 0;
    top: 0;
    padding: 0rem 4rem;
  }
  .nav-aside .social {
    margin-top: 6rem;
  }
  .nav-aside .social li {
    display: block;
  }
  .nav-aside .social li a {
    color: #fff;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
  }
  .nav-aside .copy {
    bottom: 2rem;
    left: auto;
  }
}
@media screen and (min-width: 1200px) {
  .header-btn-menu {
    width: 180px;
  }
}
@media screen and (min-width: 1400px) {
  .header-btn-menu {
    width: 175px;
    height: 135px;
    font-size: 2.8rem;
  }
}
.banner {
  width: 100%;
  padding-top: 75px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  background-size: cover;
  height: 100vh;
  z-index: 2;
}
.banner .item {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
/*&.bgPage
			background-position: center center;
			background-repeat repeat,no-repeat,no-repeat
			background-size auto auto,cover,cover
			position: static;
			height: 260px;*/
}
.banner.banner-page {
  min-height: auto;
  height: 100vh;
  padding-top: 6rem;
  position: fixed;
}
.banner-title {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 30%);
  z-index: 800;
  color: #fff;
  text-align: center;
}
.banner-title h3 {
  font-size: 3.5rem;
  margin-bottom: 0;
  font-weight: 900;
  margin-bottom: 2rem;
  line-height: 48px;
  opacity: 0;
}
.banner-title p {
  font-size: 1.3rem;
  opacity: 0;
  font-weight: 300;
  color: #f00;
}
.banner-title.inSection h3 {
  color: #254e7b;
}
.banner-title.inSection p {
  color: #f00;
  opacity: 1;
  transition: all 0.5s ease;
}
.banner .home-video-content {
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.banner:before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.banner .video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  margin: 0px;
  padding: 0px;
}
@media screen and (min-width: 768px) {
  .banner video {
    display: block;
  }
}
.main {
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.main .entry-title {
  margin-bottom: 2rem;
}
.intro {
  padding-top: 6rem;
  padding-bottom: 6rem;
  height: 100vh;
  width: 100%;
}
.services {
  width: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: 22px;
  padding-right: 22px;
}
.services-title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #fff;
}
.services-container {
  margin: 0 auto;
}
.services-item {
  position: relative;
  width: 100%;
  margin-bottom: 1rem;
}
.services-item-full {
  background: #3a3a3a;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform-origin: top;
  overflow: hidden;
  transform: translateY(-50%), translateZ(0);
  transform: translateY(-50%);
  padding: 0 70px;
  height: 100%;
  -webkit-clip-path: none;
  clip-path: none;
  transition: -webkit-clip-path 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: clip-path 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: clip-path 0.6s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-clip-path 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.services-item-img {
  position: absolute;
  left: 0;
  width: 100%;
  height: 540px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  opacity: 0.1;
  overflow: hidden;
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  background-position: center center;
  background-size: cover;
}
.services-item-link {
  width: 100%;
  display: block;
  padding-bottom: 62%;
  position: relative;
  background: #2f2f2f;
  transform: translateZ(0);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-filter: #808080;
          filter: #808080;
  text-align: center;
  z-index: 10;
  color: #fff;
}
.services-item-title {
  font-size: 30px;
  line-height: 1.35em;
  color: #fff;
  margin-bottom: 38px;
  position: absolute;
  width: 100%;
  z-index: 9;
  top: 50%;
  transform: translateY(-50%);
  height: 96px;
  padding: 0 70px;
  transition: all 0.5s ease;
}
.services-item-content {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: -30px;
  padding: 0 38px;
  z-index: 99;
  transition: opacity 0.5s ease;
}
.services-item-content .btn {
  margin-top: 1rem;
  display: block;
  background-color: #254e7b;
}
.services-item-content .btn:hover {
  background-color: #00bad2;
}
@media screen and (min-width: 640px) {
  .services-title {
    font-size: 6rem;
    margin-bottom: 6rem;
  }
  .services-item-title {
    font-size: 36px;
    line-height: 1.35em;
  }
}
@media screen and (min-width: 768px) {
  .services-container {
    max-width: 540px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1000px) {
  .services {
    height: 100vh;
  }
  .services-container {
    max-width: 1400px;
  }
  .services-item {
    position: relative;
    width: 32%;
    top: 20rem;
    opacity: 0;
  }
  .services-item:hover .services-item-link {
    -webkit-filter: grayscale(20%);
            filter: grayscale(20%);
    -webkit-filter: none;
            filter: none;
  }
  .services-item:hover .services-item-full {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .services-item:hover .services-item-img {
    opacity: 0.6;
  }
  .services-item:hover .services-item-title {
    transform: matrix(1, 0, 0, 1, 0, -150);
  }
  .services-item:hover .services-item-content {
    opacity: 1;
  }
  .services-item-link {
    padding-bottom: 87.5%;
  }
  .services-item-full {
    height: 138%;
    -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 86%, 0 86%);
    clip-path: polygon(0 14%, 100% 14%, 100% 86%, 0 86%);
  }
}
/*.scroll-wrapper
	height: 100vh;
	overflow: hidden;
	width: 100vw;	*/
.case {
  position: relative;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 2;
}
.case-container {
  max-width: 1400px;
  margin: 0 auto;
}
.case-media,
.case-info {
  width: 100%;
}
.case-media iframe {
  width: 100%;
  border: 0;
}
.case-media img {
  position: relative;
  top: 0;
}
.case-media img:before {
  content: '';
  position: fixed;
}
.case-info {
  padding-left: 2rem;
  color: #444;
}
.case-info-item {
  opacity: 0;
  left: -80px;
  position: relative;
}
.case-info h2 {
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .case {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .case-media,
  .case-info {
    width: 49%;
  }
}
.interactive-map {
  position: relative;
  z-index: 2;
}
.interactive-map .map {
  background-image: url("./img/full-map.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 1280px;
  height: 905px;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}
.interactive-map .map-links .map-button {
  position: absolute;
  z-index: 2;
}
.interactive-map .map-links #zone-5a-tourist-town,
.interactive-map .map-links #zone-5a,
.interactive-map .map-links #zona-5a-pueblo-turistico,
.interactive-map .map-links #zona-5a {
  right: 390px;
  bottom: 55px;
}
.interactive-map .map-links #zone-5b-hospital-clinic,
.interactive-map .map-links #zone-5b,
.interactive-map .map-links #zona-5b-clinica-hospitalaria,
.interactive-map .map-links #zona-5b {
  left: 170px;
  top: 375px;
}
.interactive-map .map-links #zone-5,
.interactive-map .map-links #zona-5 {
  right: 650px;
  bottom: 293px;
}
.interactive-map .map-links #zone-4,
.interactive-map .map-links #zona-4 {
  right: 200px;
  bottom: 370px;
}
.interactive-map .map-links #zone-1,
.interactive-map .map-links #zona-1 {
  left: 550px;
  top: 190px;
}
.interactive-map .map-links #zone-2,
.interactive-map .map-links #zona-2 {
  right: 350px;
  top: 190px;
}
.interactive-map .map-links #zone-3,
.interactive-map .map-links #zona-3 {
  right: 465px;
  top: 320px;
}
.interactive-map .map.zona-5a-pueblo-turistico,
.interactive-map .map.zona-5a,
.interactive-map .map.zone-5a-tourist-town,
.interactive-map .map.zone-5a {
  background-position: 0 -905px;
}
.interactive-map .map.zone-5b-hospital-clinic,
.interactive-map .map.zone-5b,
.interactive-map .map.zona-5b-clinica-hospitalaria,
.interactive-map .map.zona-5b {
  background-position: 0 -2715px;
}
.interactive-map .map.zona-5,
.interactive-map .map.zone-5 {
  background-position: 0 -1810px;
}
.interactive-map .map.zona-4,
.interactive-map .map.zone-4 {
  background-position: 0 -3620px;
}
.interactive-map .map.zona-1,
.interactive-map .map.zone-1 {
  background-position: 0 -4525px;
}
.interactive-map .map.zona-2,
.interactive-map .map.zone-2 {
  background-position: 0 -5430px;
}
.interactive-map .map.zona-3,
.interactive-map .map.zone-3 {
  background-position: 0 -6335px;
}
.main {
  height: 100%;
}
.footer {
  background-color: #2f2f2f;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 4rem;
  position: relative;
  z-index: 2;
  colo: #fff;
}
.footer-container {
  max-width: 1400px;
  margin: 0 auto;
}
.footer-blog {
  width: 100%;
  margin-bottom: 1rem;
}
.footer-blog h4 {
  color: #969696;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
}
.footer-blog p {
  font-size: 2rem;
  color: #fff;
  line-height: 45px;
}
.footer-contact {
  width: 100%;
}
.footer-contact h4 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}
.footer-contact p {
  color: #969696;
}
.footer-social a {
  font-size: 2rem;
  padding: 0.5rem 1rem;
  display: inline-block;
  color: #fff;
}
.footer-social a:hover {
  color: #254e7b;
}
@media screen and (min-width: 900px) {
  .footer-blog {
    width: 65%;
  }
  .footer-contact {
    width: 30%;
    padding-left: 4rem;
    border-left: 1px solid #c3c3c3;
  }
}
/*
section#titlechart {
	text-align: center;
	position: relative;
	height: 100%;
	min-height: 500px;
	min-width: 100%;
	height: 100vh;
}*/
